<?xml version="1.0"?>
<config>
    <modules>
        <Hatimeria_Widget>
            <version>1.0.0</version>
        </Hatimeria_Widget>
    </modules>
    <global>
        <helpers>
            <hwidget>
                <class>Hatimeria_Widget_Helper</class>
            </hwidget>
        </helpers>
        <blocks>
            <hwidget>
                <class>Hatimeria_Widget_Block</class>
            </hwidget>
        </blocks>
    </global>
</config>