<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hatimeria_Helloworld>
            <version>0.1.0</version>
        </Hatimeria_Helloworld>
    </modules>

    <frontend>
        <routers>
            <hhelloworld>
                <use>standard</use>
                <args>
                    <module>Hatimeria_Helloworld</module>
                    <frontName>hhelloworld</frontName>
                </args>
            </hhelloworld>
        </routers>

        <layout>
            <updates>
                <hhelloworld>
                    <file>hhelloworld.xml</file>
                </hhelloworld>
            </updates>
        </layout>
    </frontend>

</config>