<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <Hatimeria_Weblog>
            <version>0.1.0</version>
        </Hatimeria_Weblog>
    </modules>


    <frontend>
        <routers>
            <hweblog>
                <use>standard</use>
                <args>
                    <module>Hatimeria_Weblog</module>
                    <frontName>hweblog</frontName>
                </args>
            </hweblog>
        </routers>
    </frontend>

    <global>
        <helpers>
            <hweblog>
                <class>Hatimeria_Weblog_Helper</class>
            </hweblog>
        </helpers>

        <blocks>
            <!--podajesz ścieżkę do zbioru bloków, a nie rejestrujesz każdy osobno-->
            <!--hinfo to nazwa, po której identyfikuje się cały moduł np przy tworzeniu jego bloków - patrz hinfo.xml-->
            <hweblog>
                <class>Hatimeria_Weblog_Block</class>
            </hweblog>
        </blocks>

        <models>
            <hweblog>
                <class>Hatimeria_Weblog_Model</class>
                <resourceModel>hweblog_resource</resourceModel>
            </hweblog>
            <hweblog_resource>
                <class>Hatimeria_Weblog_Model_Resource</class>
                <entities>
                    <blogpost>
                        <table>hweblog_blogpost</table>
                    </blogpost>
                </entities>
            </hweblog_resource>
        </models>

        <resources>
            <hweblog_setup>
                <setup>
                    <module>Hatimeria_Weblog</module>
                    <class>Hatimeria_Weblog_Model_Resource_Setup</class>
                </setup>
            </hweblog_setup>
        </resources>
    </global>

</config>