<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hatimeria_Configviewer>
            <version>0.1.0</version>
        </Hatimeria_Configviewer>
    </modules>

    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <Hatimeria_configviewer_model_observer>
                        <type>singleton</type>
                        <class>Hatimeria_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </Hatimeria_configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>