<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hatimeria_Info>
            <version>0.1.0</version>
        </Hatimeria_Info>
    </modules>

    <frontend>
        <routers>
            <hinfo>
                <use>standard</use>
                <args>
                    <module>Hatimeria_Info</module>
                    <frontName>info</frontName>
                </args>
            </hinfo>
        </routers>

        <layout>
            <updates>
                <hinfo>
                    <file>hinfo.xml</file>
                </hinfo>
            </updates>
        </layout>
    </frontend>
</config>